:root{
    --background-violet: hsl(273, 75%, 66%);
    --background-blue: hsl(240, 73%, 65%);
    --text-blue: hsl(237, 12%, 33%);
    --text-light-blue: hsl(240, 6%, 50%);
    --text-dark-blue: hsl(238, 29%, 16%);
    --text-soft-red: hsl(14, 88%, 65%);
    --dividers:hsl(240, 5%, 91%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .container {
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
}
.container{    
    width: 100%;
    height:100vh;
    background-image: linear-gradient(var(--background-violet), var(--background-blue));
    padding: 60px 0px 60px 42px;
}
.faq-section{
    width: 920px;
    height: 509px;
    margin: 5% auto;
    display: flex;
    /*position: relative;
    left: 42px;*/
    flex-direction: row;
    background-color: rgb(255,255,255);
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
}
.item{
    width: 50%;
    height: 100%;
}
/*Start Images Section*/
.background-img-container{
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position-x: -580px;
    background-position-y: -290px;
    background-repeat: no-repeat;
}
.background-img{
    width: 100%;
    height: 100%;
    /*background-color: rgba(255, 0, 0, 0.1);*/
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-position-x: -90px;
    background-position-y: 70px;
    background-repeat: no-repeat;
}
.background-image{
    position: relative;
    top: 200px;
    left: -100px;
}
/*End Images Container*/
.list-container{
    padding: 30px 16px;
}
p{
    font-size:14px;
    color: var(--text-blue);
    line-height: 14.08px;
}
h1{
    margin: 35px 0;
    font-size: 32px;
    line-height:32,19px;
    font-weight: 700;
    color: var(--text-dark-blue);

}
ul{
    list-style: none;
}
li{
    margin: 16px 0px;
    border: 1px solid transparent;
    width: 350px;    
    border-bottom: 1px solid var(--dividers);
}
.question{
    padding-bottom: 19px;
    cursor: pointer;    
}
.question:hover{
    color: var(--text-soft-red);
}
.question.active{
    font-weight:700;
    color:var(--text-dark-blue);
}
.list-arrow{
    float: right;
}
.answer{
    font-size: 12px;
    line-height:18px;
    display: none;
    margin-bottom: 16px;
}
.answer.active{
    display: block;
}
