:root{
    --background-violet: hsl(273, 75%, 66%);
    --background-blue: hsl(240, 73%, 65%);
    --text-blue: hsl(237, 12%, 33%);
    --text-light-blue: hsl(240, 6%, 50%);
    --text-dark-blue: hsl(238, 29%, 16%);
    --text-soft-red: hsl(14, 88%, 65%);
    --dividers:hsl(240, 5%, 91%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .container {
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    overflow-x: hidden;
}
.container{    
    width: 100%;
    height:100vh;
    background-image: linear-gradient(var(--background-violet), var(--background-blue));
    padding: 60px 0px 60px 42px;
}
.faq-container{
    width: 920px;
    height: 509px;
    margin: 5% auto;
    background-color: rgb(255,255,255);
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
}
.faq-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;    
}
.item{
    width: 50%;
    height: 100%;
}
/*Start Images Section*/
.background-img-container{
    width: 100%;
    height: 100%;
    background: url(./images/illustration-woman-online-desktop.svg) -85px 60px no-repeat
                , url(./images/bg-pattern-desktop.svg) -580px -310px no-repeat;
}
.background-img{
    position: relative;
    top: 200px;
    left: -95px;
}
/*End Images Container*/
/*Start List Container*/
.list-container{
    padding: 30px 16px;
}
p{
    font-size:14px;
    line-height: 14.08px;
    color: var(--text-blue);
}
h1{
    margin: 35px 0;
    font-size: 32px;
    line-height:32.19px;
    font-weight: 700;
    color: var(--text-dark-blue);
}
ul{
    list-style: none;
}
li{
    margin: 16px 0px;
    border: 1px solid transparent;
    width: 350px;    
    border-bottom: 1px solid var(--dividers);
}
.question{
    padding-bottom: 19px;
    cursor: pointer;    
}
.question:hover{
    color: var(--text-soft-red);
}
.question.active{
    font-weight:700;
    color:var(--text-dark-blue);
}
.list-arrow{
    float: right;
}
.list-arrow.active{
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
.answer{
    font-size: 12px;
    line-height:18px;
    display: none;
    margin-bottom: 16px;
    width: 320px;
}
.answer.active{
    display: block;
}
/*End list Container*/
/*Start Responsive*/
@media screen and (max-width: 1000px) {
    .container{
        padding:0;
    }
    .faq-container{
        width: 327px;
        height: 535px;
        margin: 148px auto;
    }
    .faq-section{
        width:100%;
        height: 650px;
        padding: 49px 24px;
        flex-direction:column;
    }
    .item{
        width: 100%;
    }
    /*Start Responsive Images Container*/
    .background-img-container{
        width: 275px;
        height: 260px;
        background: url(./images/bg-pattern-mobile.svg) center 140px  no-repeat
        , url(./images/illustration-woman-online-mobile.svg) -10px center  no-repeat;
        position: relative;
        top: -190px;
    }
    .background-img{
        display: none;
    }
    /*End responsive Images Container*/
    /*Start List Responsive Container*/
    .list-container{
        height: 555px;
        width: 100%;
        position: relative;
        top:-180px;
        padding: 0;
    }
    p{
        font-size: 13px;
        line-height: 13.08px;
    }
    h1{
        text-align: center;
        margin-top: 0px;
    }
    li{
        width: 279px;
    }    
    .answer{
        width: 260px;
    }
    /*End Responsive List Container*/
}
/*End Responsive*/